.form-container {
    padding: 0 20px;
    height: 100vh;
    .button-self {
        background-color: #6190E8;
        color: #FFF;
        width: 50vw;
        position: fixed;
        bottom: 100px;
        left: 50%;
        margin-left: -25vw;
    }
}