.pt-cell {
    font-size: 28px;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    .cell-text {
        height: 50px;
        line-height: 50px;
        padding-left: 20px;
        color: #908C88
    }
    .cell-input {
        height: 50px;
        line-height: 50px;
        width: 100%;
        flex: 1;
    }
}