.model-container {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    .dialog-container {
        width: 60%;
        height: 20%;
        border-radius: 10px;
        background-color: #FFF;
        font-size: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        // .dialog-header {
            // height: 60px;
            // line-height: 60px;
        // }
        .dialog-content {
            font-size: 28px;
            color: #ccc;
        }
        .dialog-handle {
            width: 100%;
            border-top: 1px solid rgb(228, 226, 226);
            .dialog-button {
                width: 100%;
                height: 60px;
                line-height: 60px;
                font-size: 28px;
                background-color: #FFF;
                color: #6190E8;
            }
            .dialog-button::after {
                border: none;
            }
        }
    }
}

.body-container {
    padding: 0 20px;
    .priTime-container {
        padding: 20px 0;
        font-size: 28px;
        color: #8a8a8a;
        display: flex;
        border-bottom: 1px solid #ccc;
        .image-con {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            overflow: hidden;
            .image-self {
                height: 80px;
                width: 80px;
            }
        }
        .user-con {
            flex: 1;
            padding-left: 20px;
            .nickname-con {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .priTime-info{
                .infomation{
                    padding-bottom: 10px;
                }
                .button-con{
                    display: flex;
                    justify-content: flex-end;
                }
            }
        }
    }
}

.picker-container {
    width: 150px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: #6190E8;
    color: #FFF;
    border-radius: 60px;
    font-size: 28px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -75px;
    z-index: 100;
}

.warnning-container {
    color: #8a8a8a;
}