.checkList-container {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    color: #908C88;
    font-size: 28px;
    border-bottom: 1px solid #ccc;
    .checkbox-list__label {
        height: 80px;
        line-height: 80px;
        padding-left: 20px;
    }
}